#7 Days Of Code - Alura | Ciência de Dados

#Primeiro passo - Limpeza dos Dados

In [30]:
#Importando biblioteca pandas

import pandas as pd

despesa_2022 = pd.read_csv('C:/Users/patri/OneDrive/Documentos/Códigos/Python/7-days-of-code-CD/Data/despesa_ceaps_2022.csv', encoding='ISO-8859-1',delimiter=';', skiprows= 1)

Concatenando os arquivos para um df único e duplicando para não modificar o df original

In [31]:
despesa_ttd = despesa_2022
despesa_ttd = despesa_ttd.drop(1)

Apagando colunas que não serão utilizadas

In [32]:
despesa_ttd.columns

Index(['ANO', 'MES', 'SENADOR', 'TIPO_DESPESA', 'CNPJ_CPF', 'FORNECEDOR',
       'DOCUMENTO', 'DATA', 'DETALHAMENTO', 'VALOR_REEMBOLSADO',
       'COD_DOCUMENTO'],
      dtype='object')

In [34]:
despesa_ttd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16802 entries, 0 to 16802
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                16802 non-null  int64
 1   MES                16802 non-null  int64
 2   SENADOR            16802 non-null  object
 3   TIPO_DESPESA       16802 non-null  object
 4   CNPJ_CPF           16802 non-null  object
 5   FORNECEDOR         16802 non-null  object
 6   DOCUMENTO          15868 non-null  object
 7   DATA               16802 non-null  object
 8   DETALHAMENTO       9061 non-null   object
 9   VALOR_REEMBOLSADO  16802 non-null  object
 10  COD_DOCUMENTO      16802 non-null  int64
dtypes: int64(3), object(8)
memory usage: 1.5+ MB

Ao solicitar as informações do dataset, somente a coluna ‘DETALHAMENTO’ possui valores nulos. Dependendo do ‘TIPO_DESPESA’, esta falta de informação pode dificultar a análise do gasto. Porém, os nulos podem ser preenchidos como ‘Não especificado’, ou algo similar, para não deixar lacunas no dataset.

In [35]:
despesa_ttd['DETALHAMENTO'].fillna('Não informado', inplace=True)

Também há dados nulos na variável documento, que também serão substituídos por ‘Não informado’:

In [36]:
despesa_ttd['DOCUMENTO'].fillna('Não informado', inplace=True)

In [37]:
despesa_ttd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16802 entries, 0 to 16802
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                16802 non-null  int64
 1   MES                16802 non-null  int64
 2   SENADOR            16802 non-null  object
 3   TIPO_DESPESA       16802 non-null  object
 4   CNPJ_CPF           16802 non-null  object
 5   FORNECEDOR         16802 non-null  object
 6   DOCUMENTO          16802 non-null  object
 7   DATA               16802 non-null  object
 8   DETALHAMENTO       16802 non-null  object
 9   VALOR_REEMBOLSADO  16802 non-null  object
 10  COD_DOCUMENTO      16802 non-null  int64
dtypes: int64(3), object(8)
memory usage: 1.5+ MB

Mudando a formatação da data

In [38]:
pd.to_datetime(despesa_ttd['DATA'].str.title(), format='%d/%m/%Y')

0       2022-01-03
2       2022-01-14
3       2022-01-18
4       2022-01-17
5       2022-01-24
           ...
16798   2022-12-06
16799   2022-12-09
16800   2022-12-20
16801   2022-12-21
16802   2022-12-30
Name: DATA, Length: 16802, dtype: datetime64[ns]

In [39]:
despesa_ttd['DATA'] = pd.to_datetime(despesa_ttd['DATA'].str.title(), format='%d/%m/%Y')
despesa_ttd

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2022,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/22,2022-01-03,Despesa com pagamento de aluguel de imóvel par...,6000,2173614
2,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,13.659.201/0001-47,LINHA PURPURA FOTO E VIDEO LTDA,107,2022-01-14,Despesa com produção de texto e edição de víde...,6000,2173616
3,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,23.652.846/0001-01,ROBERTO GUTIERREZ DA ROCHA M.E.I.,187,2022-01-18,Divulgação da atividade parlamentar,1000,2173618
4,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,08.941.827/0001-01,RONDONIA DINÂMICA COM. E SERV. DE INFORMÁTICA ...,000000000001772/A,2022-01-17,Divulgação da atividade parlamentar,2000,2173617
5,2022,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",17.872.428/0001-27,AMERICA VIAGENS E TURISMO LTDA - ME,ZTRPJB,2022-01-24,"Companhia Aérea: LATAM, Localizador: ZTRPJB. P...","1000,36",2174218
...,...,...,...,...,...,...,...,...,...,...,...
16798,2022,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WIXHAI,2022-12-06,"Companhia Aérea: LATAM, Localizador: WIXHAI. P...","2893,04",2191398
16799,2022,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WITOLM,2022-12-09,"Companhia Aérea: GOL, Localizador: WITOLM. Pas...","1180,19",2192272
16800,2022,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,THPKVQ,2022-12-20,"Companhia Aérea: TAM, Localizador: THPKVQ. Pas...","2671,9",2192274
16801,2022,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,QNN9HX,2022-12-21,"Companhia Aérea: AZUL, Localizador: QNN9HX. Pa...","1334,31",2192244
16802,2022,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WMQWBX,2022-12-30,"Companhia Aérea: TAM, Localizador: WMQWBX. Pas...","2250,72",2193622

Alterando separador de casa decimal de ',' para '.' e transformando em float.

In [40]:
despesa_ttd['VALOR_REEMBOLSADO'].str.replace(',','.').astype(float)

0        6000.00
2        6000.00
3        1000.00
4        2000.00
5        1000.36
          ...
16798    2893.04
16799    1180.19
16800    2671.90
16801    1334.31
16802    2250.72
Name: VALOR_REEMBOLSADO, Length: 16802, dtype: float64

In [41]:
despesa_ttd['VALOR_REEMBOLSADO'] = despesa_ttd['VALOR_REEMBOLSADO'].str.replace(',','.').astype(float)
despesa_ttd

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2022,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/22,2022-01-03,Despesa com pagamento de aluguel de imóvel par...,6000.00,2173614
2,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,13.659.201/0001-47,LINHA PURPURA FOTO E VIDEO LTDA,107,2022-01-14,Despesa com produção de texto e edição de víde...,6000.00,2173616
3,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,23.652.846/0001-01,ROBERTO GUTIERREZ DA ROCHA M.E.I.,187,2022-01-18,Divulgação da atividade parlamentar,1000.00,2173618
4,2022,1,ACIR GURGACZ,Divulgação da atividade parlamentar,08.941.827/0001-01,RONDONIA DINÂMICA COM. E SERV. DE INFORMÁTICA ...,000000000001772/A,2022-01-17,Divulgação da atividade parlamentar,2000.00,2173617
5,2022,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",17.872.428/0001-27,AMERICA VIAGENS E TURISMO LTDA - ME,ZTRPJB,2022-01-24,"Companhia Aérea: LATAM, Localizador: ZTRPJB. P...",1000.36,2174218
...,...,...,...,...,...,...,...,...,...,...,...
16798,2022,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WIXHAI,2022-12-06,"Companhia Aérea: LATAM, Localizador: WIXHAI. P...",2893.04,2191398
16799,2022,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WITOLM,2022-12-09,"Companhia Aérea: GOL, Localizador: WITOLM. Pas...",1180.19,2192272
16800,2022,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,THPKVQ,2022-12-20,"Companhia Aérea: TAM, Localizador: THPKVQ. Pas...",2671.90,2192274
16801,2022,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,QNN9HX,2022-12-21,"Companhia Aérea: AZUL, Localizador: QNN9HX. Pa...",1334.31,2192244
16802,2022,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WMQWBX,2022-12-30,"Companhia Aérea: TAM, Localizador: WMQWBX. Pas...",2250.72,2193622

Verificando se há informações duplicadas

In [42]:
duplicados = despesa_ttd.duplicated()
duplicados.sum()

0

In [43]:
despesa_ttd.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16802 entries, 0 to 16802
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                16802 non-null  int64
 1   MES                16802 non-null  int64
 2   SENADOR            16802 non-null  object
 3   TIPO_DESPESA       16802 non-null  object
 4   CNPJ_CPF           16802 non-null  object
 5   FORNECEDOR         16802 non-null  object
 6   DOCUMENTO          16802 non-null  object
 7   DATA               16802 non-null  datetime64[ns]
 8   DETALHAMENTO       16802 non-null  object
 9   VALOR_REEMBOLSADO  16802 non-null  float64
 10  COD_DOCUMENTO      16802 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(6)
memory usage: 1.5+ MB

Exportando arquivo

In [44]:
despesa_ttd.to_csv('despesa_ttd.csv', sep = ',', index = False)